URxvt.termName: rxvt-256color
!
URxvt.font: xft:Hack:size=11
!
URxvt.scrollBar: False
!
URxvt.saveLines: 9999
!URxvt.visualBell: True
!
!
!URxvt.background: Black
!URxvt.foreground: White
!URxvt.reverseVideo: True

!-------------------------------------------------------------------------------
! Extensions
URxvt.perl-ext-common: font-size


!-------------------------------------------------------------------------------
! Key Bindings
URxvt.keysym.C-S-plus: font-size:increase
URxvt.keysym.C-KP_Add: font-size:increase
URxvt.keysym.C-S-underscore: font-size:decrease
URxvt.keysym.C-KP_Subtract: font-size:decrease
URxvt.keysym.C-0: font-size:reset
URxvt.keysym.C-KP_0: font-size:reset

!-------------------------------------------------------------------------------
! Colors

*background: #181818
*foreground: #d2d2d2
*cursorColor: #93a1a1

!! black dark/light
*color0: #121212
*color8: #2e3436

!! red dark/light
*color1: #a35b66
*color9: #ab6b74

!! green dark/light
*color2: #99ab6f
*color10: #acb972

!! yellow dark/light
*color3: #ca9733
*color11: #ccaa69

!! blue dark/light
*color4: #495d6e
*color12: #687987

!! magenta dark/light
*color5: #825969
*color13: #977381

!! cyan dark/light
*color6: #839191
*color14: #98a4a4

!! white dark/light
*color7: #efefef
color15: #f4f4f4
