{{- if eq .chezmoi.hostname "laptop-arch" }}

#############################################
# Variables

set $mod Mod4
set $compositor picom -b
set $wallpaper ~/media/pics/wallpaper/wp.png


############################################
# Start programs

# Polybar
exec_always --no-startup-id ~/.config/polybar/launch.sh

# X compositor to improve various graphic things
exec --no-startup-id $compositor

# PrintScreen key to Left Super key
exec_always --no-startup-id xmodmap -e "keysym Print = Super_L"

# Network tray icon
exec --no-startup-id nm-applet --no-agent

# Change keyboard layout uk/fi and change capslock to ctrl
exec --no-startup-id setxkbmap -layout "gb,fi" -option "grp:ctrls_toggle" -option ctrl:nocaps

# Hide mouse after n seconds with unclutter
exec_always --no-startup-id unclutter --timeout 5

# Nextcloud
exec --no-startup-id nextcloud


############################################
# Basic settings

# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below.
font pango:JetBrains Mono 11

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

bindsym $mod+Return  exec alacritty
bindsym $mod+Shift+Return exec alacritty -t floating
for_window [class="Alacritty" title="floating"] floating enable

bindsym $mod+Shift+q kill

# disable Control+q
bindsym Control+q exec /bin/false

bindsym $mod+d exec --no-startup-id rofi -show run
bindsym $mod+Shift+d exec --no-startup-id rofi -show ssh

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# split
bindsym $mod+g split h
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+c focus child

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# switch to workspace
bindsym $mod+1 workspace $ws1
bindsym $mod+2 workspace $ws2
bindsym $mod+3 workspace $ws3
bindsym $mod+4 workspace $ws4
bindsym $mod+5 workspace $ws5
bindsym $mod+6 workspace $ws6
bindsym $mod+7 workspace $ws7
bindsym $mod+8 workspace $ws8
bindsym $mod+9 workspace $ws9
bindsym $mod+0 workspace $ws10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $ws1
bindsym $mod+Shift+2 move container to workspace $ws2
bindsym $mod+Shift+3 move container to workspace $ws3
bindsym $mod+Shift+4 move container to workspace $ws4
bindsym $mod+Shift+5 move container to workspace $ws5
bindsym $mod+Shift+6 move container to workspace $ws6
bindsym $mod+Shift+7 move container to workspace $ws7
bindsym $mod+Shift+8 move container to workspace $ws8
bindsym $mod+Shift+9 move container to workspace $ws9
bindsym $mod+Shift+0 move container to workspace $ws10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

# resize window (you can also use the mouse for that)
mode "resize" {
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}
bindsym $mod+r mode "resize"

# disable titlebars
for_window [class="^.*"] border pixel 6

# wallpaper
exec_always --no-startup-id feh --bg-scale $wallpaper

hide_edge_borders smart

# class        border  backgr  text    indic   ch_bord
client.focused #af5f5f #af5f5f #f4f4f4 #101010 #af5f5f


############################################
# Scratchpad

# Current focus to scratchpad
bindsym $mod+Shift+P move scratchpad

# Show the first scratchpad window
bindsym $mod+P scratchpad show


############################################
# Spesific program instructions

for_window [title="Friends List"] floating enable
for_window [class="Steam"] move to workspace $ws9
for_window [class="Spotify"] move to workspace $ws10


############################################
# Added keybindings

# Pulse Audio controls
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl -- set-sink-volume 0 +3% #increase sound volume
bindsym XF86AudioLowerVolume exec --no-startup-id pactl -- set-sink-volume 0 -3% #decrease sound volume
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 0 toggle # mute sound

# Brightness
bindsym XF86MonBrightnessUp   exec --no-startup-id light -A 5
bindsym XF86MonBrightnessDown exec --no-startup-id light -U 5

# Lock the screen
bindsym $mod+x exec i3lock -ef -i $wallpaper

# Media player controls
bindsym $mod+Control+Down  exec playerctl play-pause
bindsym $mod+Control+Right exec playerctl next
bindsym $mod+Control+Left  exec playerctl previous


#############################################
# Gaps

smart_gaps on
#smart_borders on
gaps inner 6
gaps outer 0


#############################################
# Alacritty color theme change
set $color_dir $HOME/.config/alacritty/themes/colors
set $light_color base16-gruvbox-light-medium.yml
set $dark_color base16-gruvbox-dark-soft.yml

# Toggle between light and dark colorscheme
bindsym $mod+Shift+n exec alacritty-colorscheme -C $color_dir -t $light_color $dark_color -V

{{ end }}
